*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:  #f7f1e3;
    margin: 7%;
}

header{
    background-image: url(picture/old-wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-shadow: 10px 10px #888888;
    border-radius: 20px;
    border-style: outset;
}
.name{
    text-transform: uppercase;
    color:white;
    text-shadow: black 0.1em 0.5em 0.4em;

}
.name h1{
    font-size: 3.5vw;
}
.name h2{
    font-size: 1.5vw;
}
.name h3{
    text-align: end;
    font-size: 1.2vw;
}
.logo{
    text-align: end;
    display: block;
    cursor: pointer;   
}
section{ 
    margin-top: 40px;
    background-image:url(picture/wood-nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    box-shadow: 10px 10px #888888;
    border-radius: 20px;
    border-style: outset;
    display: flex;
}
.profile {
   width: 250px;
   height: 300px;
   margin-left: 5px;
   border: 6px solid white; 
   border-radius: 6px;  
   box-shadow: 0px 0px 4px rgba(0,0,0, 0.9);
   display: flex;

}
.name-about{
    color: white;
    font-size: 3vw;
    margin-left: 5%;
    text-shadow: black 0.1em 0.5em 0.4em;

    
}
.article{
    margin-left: 10%;
}

.article ul{
    color: white;
    font-size: 1.5vw;
    text-shadow: black 0.1em 0.5em 0.4em;
    font-weight: bold;
}

article{
    background-color: #c7ae7b;
    width: 40%;
    margin-top: 60px;
    height: 700px;
    border-radius: 5%;
    float: left;  
}
aside{
    background-color:#dbcc90;
    width: 55%;
    height: 700px;
    margin-left: 45%;
    margin-top: 5%;
    border-radius: 5%;
    float: top;
} 
.main,.detail{
  color: #522e1a;
  margin-left: 50px;
  padding-top: 20px;
}
.contact{
    margin-left: 29%;
    font-size: 2vw;
}
.logo-contact{
    margin-left: 37%;
    font-size: 1.2vw;
}
.logo-contact h3{
    margin-left: -30%;
}
h3.tel{
    margin-left: -12%;
}
.education{
    margin-left: -60px;
    text-align: center;
    font-size: 2vw;
}
footer{
    background-color: #c7ae7b;
    height: 50px;
    margin-top: 4%;
    border-radius: 10%;
}
.skill{
    margin-left: 33%;
}
.skill h1{
    font-size: 2vw;
}
.skill ul{
    font-size: 1.2vw;
}