*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}
.container{
    display: grid;
    grid-template-areas: "header header"
                          "section section"
                          "content aside";
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto auto ;
   background: white;
   margin: 5%;
   grid-gap: 4% 4%;
}
.header{
    grid-area: header;
    color: white;
    background-image:url(picture/old-wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    border-style: outset;
    text-shadow: black 0.1em 0.5em 0.4em;
    text-transform: uppercase;
}
.name{
    font-size: 3.5vw;
    margin-left: 5%;
    margin-top: 5%;
    
}
.study{
    font-size: 2vw;
    margin-left: 8%;

}
.header h3{
    font-size: 1.5vw;
    margin-left: 82%;
}
.social{
    text-align: right;
    margin: 10px;
}
.section{
  grid-area: section;
  background-image:url(picture/wood-nav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
  border-style: outset;
  display: flex;
}
.slogan{
    font-size: 1.4vw;
    color: white;
    font-weight: bold;
    text-shadow: black 0.1em 0.5em 0.4em;
    margin-top: 5%;
    margin-left: 2%;
}
.slogan h1{
    font-size: 2.5vw;
    color: white;
    text-shadow: black 0.1em 0.5em 0.4em;
}
.skill ul{
    margin-left: 5%;
    padding-bottom: 5%;
}

.profile{
   max-width:20%;
   height:auto;
   margin: 20px;
   border-radius: 2px;  
   box-shadow: 0px 0px 4px rgba(0,0,0, 1);
}


.content{
    grid-area: content;
    background: #c7ae7b;
    width: 100%;
    color: #522e1a;
    font-size: 1.5vw;
    border-radius: 5%;  

}
.about-me{
    margin-left: 5%;
    margin-top: 5%;
}
.about-me h3{
    font-size: 1.4vw;
}

.aside{
    background: #dbcc90;
    grid-area: aside;
    padding-bottom: 5%;
    border-radius: 5%;  

}
.detail{
    color: #522e1a;
    margin-left: 5%;
    margin-top: 8%;
    
}
.detail h1{
    font-size: 2.5vw;
    margin-left: 3%;
    text-decoration: underline #8a5929;
}
.detail h3{
    font-size: 2vw ;
    color: #7b4a34;
}
.detail p{
    font-size: 1.5vw;
    margin-left: 5%;
}

@media(max-width: 600px){
 .container{
     grid-template-columns: 1fr;
     grid-template-rows: auto;
     grid-template-areas: 
           "header"
           "section"
           "content"
           "aside"
          ;
 }
}

